header{
  background-color: rgb(226, 226, 226);
  border-bottom: 1px solid rgb(98, 98, 98);
}
.headerButton{
  color: rgb(65, 65, 65);
}

#addSpaceDiv{
  position : fixed;
  top : 0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}

#createSpacePannel{
	position:fixed;
	width : 100%;
	z-index: 40;
	height: 100vh;
	left : 0;
	top : 0;
	background-color: rgba(50,50,50,0.7);
	text-align: center;
	padding-left : 25%;
	padding-top : 10%;
}

#createSpaceForm{
	width : 75%;
	background-color: rgb(170,171,170);
	vertical-align: center;
	text-align: center;
	padding-top : 3%;
	padding-bottom : 3%;
  border-radius: 2%;

}

#newSpaceId{
	width : 30%;
  border-radius: 2%;
  margin-bottom: 1%;

}

#newSpaceName{
	width : 50%;
  border-radius: 2%;
  margin-bottom: 1%;
}

#addServiceButton{
  margin-right: 1%;
}

.buttonRow{
  margin-top:2%;
}

.pannel{
  position:fixed;
	width : 100%;
	z-index: 40;
	height: 100vh;
	left : 0;
	top : 0;
	background-color: rgba(50,50,50,0.7);
	text-align: center;
	padding-left : 25%;
	padding-top : 10%;
}


#createServiceForm{
	width : 75%;
	background-color: rgb(170,171,170);
	vertical-align: center;
	text-align: center;
	padding-top : 3%;
	padding-bottom : 3%;
  border-radius: 2%;

}

#newServiceName{
	width : 30%;
  border-radius: 2%;
  margin-bottom: 1%;

}

#newServiceCompInf{
	width : 50%;
  height: 30vh;
  border-radius: 2%;
  margin-bottom: 1%;
}

textarea{
  resize: none;
}

#spaceSelector{
  display: inline-block;
  text-align: center;
  margin-bottom: 2%;

}


#createServiceContentForm{
	width : 75%;
	background-color: rgb(170,171,170);
	vertical-align: center;
	text-align: center;
	padding-top : 3%;
	padding-bottom : 3%;
  border-radius: 2%;

}

#newServiceContentName{
	width : 30%;
  border-radius: 2%;
  margin-bottom: 1%;

}

#newServiceContentInformation{
	width : 50%;
  height: 30vh;
  border-radius: 2%;
  margin-bottom: 1%;
}

textarea{
  resize: none;
}

#serviceSelector{
  display: inline-block;
  text-align: center;
  margin-bottom: 2%;

}

#newServiceContentNumber{
  display: inline-block;
  text-align: center;
  margin-bottom: 2%;

}


#ticketAdvancedInfoHistorique{
  height: 50vh;
  border-radius: 5%;
  border-color: black;
  border-style : solid;
  padding: 4%;
  overflow-y: scroll;
}

.ticketAdvancedMessage{
  width : 50%;
  margin-bottom: 3%;
}

.sender{
  background-color:  rgba(50,50,50,0.7);
  right : 0px;
  border-radius: 5%;
  padding: 4%;
  position :relative;
  float :left;
}

.receiver{
  background-color:  rgb(170,171,170);
  left : 0px;
  border-radius: 5%;
  padding: 4%;
  float : right;
}


#changeSpaceScheduleForm{
	width : 75%;
	background-color: rgb(170,171,170);
	vertical-align: center;
	text-align: center;
	padding-top : 3%;
	padding-bottom : 3%;
  border-radius: 5%;
  height : 30vh;
}

.scheduleInput{
  display : inline-block;
}

.numberInput{
  width : 80%;
}
