#eventList{
	border-color: rgba(180, 180, 180, 0.39);
	border-radius: 2%;
	background-color: white;
	border-width: thick;
	padding: 1%;
	border-style: groove;
}

.event{
	text-overflow: ellipsis;
	overflow: hidden;
	width:100%;
	background-color: rgb(204, 204, 204);
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 0.5%;
}

.description{
	font-style: italic;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.descr{
	text-align: center;
	overflow-wrap: break-word;
	padding: 5%;
}

.heureDebut, .heureFin{
	font-style: bold;
	display: inline;
}

.dateDesc{

}

.debut, .fin{
	float: right;
	display: inline;
	margin: 1%;
}

img{
	padding-right: 5%;
}
