body {
	background-image: url("../IMG/logo.png");
	background: -webkit-linear-gradient(left, #25c481, #25b7c4);
}

h1{
	text-align: center;
}

#titre {
            color: rgb(203, 18, 18) !important;
            animation: guirlande 2s alternate infinite !important;
        }
		
@keyframes guirlande {
	100% {
		text-shadow: 1px 1px 10px rgb(162, 162, 162);
	}
	35% {
		text-shadow: 1px 1px 10px rgb(0, 0, 0);
	}
	33% {
		text-shadow: 1px 1px 10px rgb(255, 255, 255);
	}
	31% {
		text-shadow: 1px 1px 10px rgb(0, 0, 0);
	}
	30% {
		text-shadow: 1px 1px 10px rgb(255, 255, 255);
	}
	0% {
		text-shadow: 2px 2 px 10px rgb(0, 0, 0);
	}
}