h1{
	text-align: center;
}

#titre {
	color: white !important;
	animation: guirlande 2s alternate infinite !important;
}

@keyframes guirlande {
	100% {
		text-shadow: 1px 1px 10px rgb(162, 162, 162);
	}
	35% {
		text-shadow: 1px 1px 10px rgb(0, 0, 0);
	}
	33% {
		text-shadow: 1px 1px 10px rgb(255, 255, 255);
	}
	31% {
		text-shadow: 1px 1px 10px rgb(0, 0, 0);
	}
	30% {
		text-shadow: 1px 1px 10px rgb(255, 255, 255);
	}
	0% {
		text-shadow: 2px 2 px 10px rgb(0, 0, 0);
	}
}
