#navbar{
  width: 33vh;
}

#list-tab{
  background: white;
  height: 92vh;
}

#contentTab{
  padding-top: 20px;
}

#qr{
  padding: 15px;
  border-width: 4px;
  border-style: dashed;
}

.active#desactive-list{
    background-color: #dc3545 !important;
    border-color: #b30011 !important;
}

.list-group-item:first-child{
  border-radius: 0 !important;
}
