#navbar{
  width: 33vh;
}

#list-tab{
  background: white;
  height: 92vh;
}

#contentTab{
  padding-top: 20px;
}

#qr{
  padding: 15px;
  border-width: 4px;
  border-style: dashed;
}

.active#desactive-list{
    background-color: #dc3545 !important;
    border-color: #b30011 !important;
}

.list-group-item:first-child{
  border-radius: 0 !important;
}

.tabcontent{
  position: absolute;
}

.tablemsg{
  padding-top: 25px;
  padding-bottom: 25px;
}

.corbeille{
  font-size: 1em;
  font-weight: bold;
  color: #c94c4c;
}



#ticketChainDiv{
  height: 25vh;
  border-radius: 5%;
  border-color: black;
  border-style : solid;
  padding: 1%;
  overflow-y: scroll;
}

.ticketAdvancedMessage{
  width : 50%;
  margin-bottom: 3%;
}

.sender{
  background-color:  rgba(50,50,50,0.7);
  right : 0px;
  border-radius: 5%;
  padding: 4%;
  position :relative;
  float :left;
}

.receiver{
  background-color:  rgb(170,171,170);
  left : 0px;
  border-radius: 5%;
  padding: 4%;
  float : right;
}
