.bootstrap-datetimepicker-widget .datepicker-days table tbody tr:hover {
    background-color: #eee;
}

.calendarTd{
	border : 1px solid black;
    text-align: center;
}
.calendarTh{
	text-align: center;
}


#calendar{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}


.occupe{
	background-color: #dc3545;
	cursor: not-allowed;
}

.libre{
	background-color: #28a745;
	cursor: pointer;
}

.indisponible{
	background-color: #6c757d;
	cursor: not-allowed;
}

.vosreserv{
	background-color: #f8f9fa;
	cursor: pointer;
}
