#canvas{
	width: 100% !important;
	height: 50% !important;
    display: none;
}

.sites{
	display: none;
}

li{
    margin : 10px;
    list-style: square;
    font-weight: bold;
}

.btn-primary{
    margin : 0.5%;
    background-color: #7acbc4;
}

#divService{
    display: none;
}

#divMatos{
    display: none;
}

#carac{
    display: none;
}

.button-succes{

}

#command{
    display: none;
}

