#canvas{
	width: 100% !important;
	height: 50% !important;
}

.sites{
	display: none;
}

li{
    margin : 10px;
    list-style: square;
    font-weight: bold;
}

.btn-primary{
    margin : 0.5%;
}


.button-succes{

}

.displayBlock{
    display: block;
}

.displayNone{
    display: none;
}

.container{
    overflow-y: auto;
}

#ok{
    background-color: green;
    width: 80%;
    display: block;
    padding: 1.2%;
    text-align: center;
    font-weight: bold;
    margin-left: 10%;
    border-radius: 10px;
}
